.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // Dark overlay for modal background
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #FFFFFF; // White (Secondary)
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    position: relative;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); // Shadow for 3D effect
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 1rem;
    color: #0000FF; // Blue (Accent)
}

input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #D3D3D3; // Light Gray (Primary)
    border-radius: 5px;
}

.submit-button {
    background-color: #0000FF; // Blue (Accent)
    color: #FFFFFF;  // White (Secondary)
    border: none;
    padding: 0.75rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #D3D3D3; // Light Gray (Primary) on hover
        color: #0000FF; // Blue text on hover
    }
}
